<h1>Here are all my pins!</h1>
<% if flash.notice %>
  <p class="alert alert-success"><%= flash.notice %></p>
<% end %>
<% @pins.each do |pin| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <%= link_to pin do %>
        <img src="<%= pin.image %>" alt="Awesome pin">
      <% end %>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <p><%= pin.comment %></p>
      </li>
      <li class="list-group-item pull-right"> 
        <%= render partial: 'buttons', locals: {pin: pin} %>
      </li>
    </ul>
  </div>
<% end %>