<h1>Here are all my pins!</h1>

<% @pins.each do |pin| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <a href="/pins/<%= pin.id %>">
        <img src="<%= pin.image %>" alt="Awesome pin">
      </a>
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <p><%= pin.comment %></p>
      </li>
      <li class="list-group-item pull-right"> 
        <a href="/pins/<%= pin.id %>/edit" class="btn btn-info">Edit this pin</a>
        <%= link_to 'Destroy', pin,  method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
      </li>
    </ul>
  </div>
<% end %>