<h1>Let's add a new pin!</h1>

<%= form_for @pin do |f| %>
  <%= f.label "Pin URL" %>
  <%= f.text_field :url, class: 'form-control' %>
  <%= f.label "Pin Image URL" %>
  <%= f.text_field :image, class: 'form-control' %>
  <%= f.label "Comment" %>
  <%= f.text_area :comment, class: 'form-control' %>
  <%= f.submit class: 'btn btn-success' %>
<% end %>