<h1>Pin #<%= @pin.id %></h1>

<div class="row">
  <div class="col-xs-6">
    <img src="<%= @pin.image %>" alt="Awesome pin">
  </div>
  <div class="col-xs-6">
    <h2><%= @pin.comment %></h2>
    <h4><%= link_to "Source", @pin.url, target: "_blank" %></h4>
    <p class="pull-right">
      <%= render partial: 'buttons', locals: {pin: @pin} %>
    </p>
  </div>
</div>

