<br>
<table class="table table-bordered">
    <tr>
        <th colspan="4" class="text-center">
            <h4>Pins Index</h4>  
        </th>
    </tr>
    <tr>
        <th>Url</th>
        <th>Comment</th>
        <th>Image</th>
        <th>More Info</th>
    </tr>
    <% @pins.each do |pin| %>
    <tr>
        <td><a href="<%= pin.url %>"><%= pin.url %></a></td>
        <td>  <%= pin.comment %> </td>
        <td> <img src="<%= pin.image %>" height="120" width="200"></td>
        <td>
            <form action="/pins/<%= pin.id %>" method="get">   
                <button type="submit" class="btn btn-info">
                    Info
                </button>
            </form>
        </td>
    </tr>
    <% end %>
</table>
