<p><%= @pin.comment %></p>
<img src="<%= @pin.url %>">
<img src="<%= @pin.image %>">
<a href="/pins/<%= @pin.id %>/edit">Edit</a>
<%= link_to 'Delete', @pin, method: :delete, data: {confirm: 'Are you sure?'} %>