<h1>Edit Pin: <%= @pin.name %></h1>

<div class="jumbotron">
  <div class="container">
    <%= form_for @pin do |f|%>
      <%= f.label 'Website Url'%>
      <%= f.text_field :url %><br />
      <%= f.label 'Name'%>
      <%= f.text_field :name %><br />
      <%= f.label 'Image Url'%>
      <%= f.text_field :image %><br />
      <%= f.label 'Comment'%>
      <%= f.text_area :comment %><br />
      <%= f.submit "Edit Pin"%>
    <% end %>
    
  </div>
</div>