<h1 class="page-header">Pins</h1>
<div id="wrapper">
    <div id="columns">

    	<% @pins.each do |pin| %>
        <!-- Button trigger modal -->
<div class="pin" data-toggle="modal" data-target="#<%= pin.id %>">
            <img src="<%= pin.photo %>">
            <br />
            <p><%= pin.comment %></p>
                <br />
        </div>

<!-- Show Modal -->
<div class="modal fade" id="<%= pin.id %>" tabindex="-1" role="dialog" aria-labelledby="pinLabel<%= pin.id %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content pin">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        
        <!-- sorting out this area -->
        <!-- add pin -->
        <div><a class="btn btn-lg btn-danger" role="button" data-tool="popover" data-trigger="focus" title="Add Pin" data-content=''><span class="glyphicon glyphicon-plush" aria-hidden="true"></span> Add Pin</a>
      </div>

      <div class="modal-body">

      <%= form_for @pins do |f| %>
      <div class="row">
            <div class="col-xs-6">
                  <%= f.hidden_field :url, value: pin.url %><br />
                  <img src="<%= pin.photo %>" class="img-rounded">
                  <%= f.hidden_field :photo, value: pin.photo %><br />
                  <%= f.label "Comment" %>
                  <%= f.text_field :comment, value: pin.comment %><br />
            </div>
            <div class="col-xs-6">
                  <%= f.label "Choose Board" %>
                  <%= f.select(:board_id, @boards) %>
            </div>
      </div>

      <div class="row">
            <%= f.submit "Add Pin", :class => "btn btn-danger" %>
<% end %>

          <a href="<%= pin.url %>"><img src="<%= pin.photo %>"></a>
          <br />
          <p><%= pin.comment %></p>
              <br />
      </div>
      <div class="modal-footer">
       <!-- link_to 'Update', edit_board_pin_path(@pin), class: "btn btn-default form-horizontal" -->
        <%= button_to 'Delete Pin', @pin,  method: :delete, data: { confirm: 'Are you sure?'}, :class => "btn btn-danger form-horizontal" %>
      </div>
    </div>
  </div>
</div>


        <% end %>
    </div>
</div>
